/* BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --card-height: 250px;
  --initial-visible-card-height: 100px;
  --white: #fff;
  --black: #000;
  --dark-gray: #343434;
  --light-gray: #efefef;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 50px 0;
  background: var(--light-gray);
}

/* CARD STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cards {
  display: grid;
  grid-gap: 20px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.card {
  position: relative;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  height: var(--card-height);
  background: var(--white);
}

.card,
.card-link {
  display: flex;
}

.card-link,
.card-img {
  width: 100%;
}

.card-img {
  object-fit: cover;
  height: 100%;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--white);
  background: rgba(127, 17, 224, 0.7);
  padding: 40px;
  transform: translateY(calc(100% - var(--initial-visible-card-height)));
  transform-origin: bottom;
  transition: all 0.3s;
}

.card-title {
  margin: 0;
  font-size: 30px;
  line-height: 1.2;
}

.card-subtitle {
  font-weight: normal;
  line-height: 1;
  margin: 0 0 5px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.14em;
  opacity: 0.4;
}

.card-content,
.card-view-more {
  opacity: 0;
  margin-top: 20px;
  transition: opacity 0.3s;
}

.card-view-more {
  display: flex;
  align-items: center;
  justify-content: right;
}

.card-view-more svg {
  margin-left: 5px;
}

.card-link:hover .card-details {
  transform: none;
  color: var(--black);
  background: var(--white);
}

.card-link:hover .card-content,
.card-link:hover .card-view-more {
  opacity: 1;
  transition-duration: 0;
}

@media (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
